<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sa;password=mypass;Data Source=BAFLO\JAN;Database=Sitecore_script_core" />
  <add name="master" connectionString="user id=sa;password=mypass;Data Source=BAFLO\JAN;Database=Sitecore_script_master" />
  <add name="web" connectionString="user id=sa;password=mypass;Data Source=.;Database=Sitecore_script_web" />
</connectionStrings>